## Exercicio:

1. Crie uma Serie com elementos A, B, C e com os indexes primeiro, segundo, terceiro
2. Agora mostre o primeiro elemento da Serie anterior
3. Baseado na Serie X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
              **Transforme** em float
4. Mude a ordem da mesma Serie utilizada no Exercicio 3
5. Organize os valores da Serie X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])
6. Add 5 para todos os elementos da Serie X = pd.Series([1,2,3,4,5])
7. Crie uma m√°scara para mostrar somente elementos negativos X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
8. Colete todos os elementos negativos X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [1]:
import numpy as np
import pandas as pd

In [2]:
#1 - Crie uma Serie com elementos A, B, C e com os indexes primeiro, segundo, terceiro

serie = pd.Series(['A', 'B', 'C'], index=['primeiro', 'segundo', 'terceiro'])
serie

primeiro    A
segundo     B
terceiro    C
dtype: object

In [4]:
#2 - Agora mostre o primeiro elemento da Serie anterior

serie.iloc[0]

'A'

In [5]:
#3 - Baseado na Serie X = pd.Series([1,2,3,4,5], index=['first','second','third','forth','fifth']) - Transforme em float

X = pd.Series([1,2,3,4,5], index=['first','second','third','forth','fifth'])
X = X.astype(float)
X

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [9]:
#4 - Mude a ordem da mesma Serie utilizada no Exercicio 3

X = X.reindex(index=['second','first','third','fifth','forth'])
X

second    2.0
first     1.0
third     3.0
fifth     5.0
forth     4.0
dtype: float64

In [10]:
#5 - Organize os valores da Serie X = pd.Series([4,2,5,1,3], index=['forth','second','fifth','first','third'])

Y = pd.Series([4,2,5,1,3], index=['forth','second','fifth','first','third'])
Y = Y.reindex(index=['first','second','third','forth','fifth'])
Y

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [11]:
#6 - Add 5 para todos os elementos da Serie X = pd.Series([1,2,3,4,5])

Z = pd.Series([1,2,3,4,5])
Z = Z + 5
Z

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [19]:
#7 - Crie uma m√°scara para mostrar somente elementos negativos K = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

K = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = K < 0
K[mask]

0   -1
3   -4
8   -9
dtype: int64

In [17]:
#8 - Colete todos os elementos negativos K = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

W = pd.Series(K[mask])
W

0   -1
3   -4
8   -9
dtype: int64